body {
  margin: 0;
  padding: 0;
  --headingColor: #231f20;
  --textColor: #7b7979;
  font-family: "poppins";
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
* table tr td {
  margin: 0;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
}

.text-container {
  padding: 1.5em 6em;
}

.heading-section {
  color: var(--headingColor);
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.paragraph-section {
  color: var(--textColor);
  font-size: 0.938em;
  font-weight: 400;
}

ul > li {
  margin-bottom: 0.5em;
  font-size: 0.938em;
  color: var(--textColor);
}
ul {
  padding: 1.3555em;
  margin-top: 0.5em;
}
.unordered-list-section {
  color: var(--textColor);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.5em;
}

#border-right {
  border-right: 0.111em solid var(--textColor);
}

.we-do-not-collect-section {
  font-size: 0.938em;
  padding: 1.5em;
  color: var(--textColor);
  text-align: left;
  margin: auto 4.5em;
}
.comon-heading-section-for-ul{
  font-size: 0.938em;
  color: var(--headingColor);
}
table {
  width: 100%;
  padding: 1.5em;
  font-size: 1.125em;
  border: 0.111em solid var(--textColor);
  border-collapse: collapse;
  margin-top: 1em;
}

th,
td {
  padding: 1em;
  vertical-align: top;
  border: 0.111em solid var(--textColor);
}

thead > tr {
  color: var(--headingColor);
  border: 0.111em solid var(--textColor);
}

th {
  vertical-align: top;
}

td > ul > li {
  color: var(--textColor);
  font-size: 1em;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

td > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

h5,
h6 {
  color: var(--textColor);
  font-size: 1em;
}

p{
  text-align: center;
  color: var(--textColor);
  opacity: 0.8;
}

h6 {
  text-align: center;
}


@media screen and (max-width: 768px) {
  .unordered-list-section {
    grid-template-columns: 1fr;
  }

  .we-do-not-collect-section {
    padding: 1em;
  }

  .table-section-for-mobile {
    overflow-x: auto;
  }

  table {
    width: 300%;
    margin-left: 0;
  }

  .text-container {
    padding: 1em;
  }

  #border-right {
    border-right: none;
  }
}

@media screen and (max-width: 1180px) {
  .unordered-list-section {
    grid-template-columns: 1fr;
  }

  .we-do-not-collect-section {
    padding: 1em;
  }

  .table-section-for-mobile {
    overflow-x: auto;
  }

  table {
    width: 300%;
    margin-left: 0;
  }

  .text-container {
    padding: 1em;
  }

  #border-right {
    border-right: none;
  }
}
