/* Common styles for both desktop and mobile */
.App-header {
  width: 100%;
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f206c 0% 0% no-repeat padding-box;
  opacity: 1;
}

.privacy, .policy {
  font-family: poppins;
  color: #ffffff;
  opacity: 1;
}

.content-holder {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Desktop styles */
.privacy {
  text-align: left;
  letter-spacing: 0;
  font-size: 7rem;
}

.policy {
  font-size: 8rem;
  text-align: left;
}

.privacy-policy{
  display: flex;
  gap: 1em;
}
/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 812px) {
  .App-header {
    height: 25em;
    background: #0f206c 0% 0% no-repeat padding-box;
  }

  .content-holder {
    height: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
  }

  .privacy, .policy {
    text-align: center;
  }

  .privacy {
    font-size: 3em;
  }

  .policy {
    font-size: 4em;
  }
  .privacy-policy{
    flex-direction: column;
  }
}
